<!DOCTYPE html>
<html>
  <head>
    <title>VideoNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.hamburger = "<%= image_url("hamburger.png") %>"
      window.logo = "<%= image_url("logo.png") %>"
      window.search = "<%= image_url("search.png") %>"
      window.add_video = "<%= image_url("add_video.png") %>"
      window.signin_logo = "<%=  image_url("signin.png") %>"
      window.error = "<%= image_url("error.png") %>"
      window.home = "<%= image_url("home.png") %>"
      window.github = "<%= image_url("github.svg") %>"
      window.linkedin = "<%= image_url("linkedin.svg") %>"
      window.trending = "<%= image_url("trending.png") %>"
      window.user = "<%= image_url("user.png") %>"
      window.signout = "<%= image_url("signout.png") %>"
      window.x = "<%= image_url("x.png") %>"
      window.upload = "<%= image_url("upload.png") %>"
      window.user_icon = "<%= image_url("user_icon.jpg") %>"
      window.thumbnail_icon = "<%= image_url("thumbnail_icon.png") %>"
      window.angelist = "<%= image_url("angelist.png") %>"
      window.portfolio = "<%= image_url("portfolio.png") %>"
      window.profile = "<%= image_url("profile.png") %>"
      window.profile_background = "<%= image_url("profile_background.jpg") %>"
      window.like = "<%= image_url("like.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
