<!DOCTYPE html>
<html>
  <head>
    <title>VideoNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.hamburger = "<%= image_url("hamburger.png") %>"
      window.logo = "<%= image_url("logo.png") %>"
      window.search = "<%= image_url("search.png") %>"
      window.add_video = "<%= image_url("add_video.png") %>"
      window.signin_logo = "<%=  image_url("signin.png") %>"
      window.error = "<%= image_url("error.png") %>"
      window.home = "<%= image_url("home.png") %>"
      window.github = "<%= image_url("github.svg") %>"
      window.linkedin = "<%= image_url("linkedin.svg") %>"
      window.trending = "<%= image_url("trending.png") %>"
      window.user = "<%= image_url("user.png") %>"
      window.signout = "<%= image_url("signout.png") %>"
      window.x = "<%= image_url("x.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
