<!DOCTYPE html>
<html>
  <head>
    <title>VideoNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo = "<%= image_url("logo.png") %>"
      window.signin_logo = "<%=  image_url("signin.png") %>"
      window.error = "<%= image_url("error.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
